<div class="card mt-5">
  <div class="card-header">
    Current Lottery 
  </div>
  <div class="card-body">
    <h3 class="mb-2">
      Lottery Price : 
      <small class="text-muted" id="lotteryPrice"></small>
    </h3>
    <h3 class="mb-2">
      Opened Time : 
      <small class="text-muted" id="openTime"></small>
    </h3>
    <h3 class="mb-2">
      Closed Time : 
      <small class="text-muted" id="closeTime"></small>
    </h3>
    <br>
    <a href="#" class="btn btn-primary d-none" id="applyLotteryButton">Apply</a>
  </div>
</div>
