<turbo-frame id="main">
  <div class="table-responsive" >
    <table class="table">
      <thead>
        <tr>
          <th scope="col">S.NO.</th>
          <th scope="col">Address</th>
        </tr>
      </thead >
      <tbody id="tableDiv">
      </tbody>
    </table>
  </div>
</turbo-frame>
