<turbo-frame id="main">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">S.NO.</th>
          <th scope="col">Address</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>0*1234569888</td>
          <td>2056-12-09</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>0*12356</td>
          <td>2056-12-8</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>0*123455</td>
          <td>2056-12-09</td>
        </tr>
      </tbody>
    </table>
  </div>
</turbo-frame>
